<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapsed" data-target="#bs-exaemple-navbar-collapse-1">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"> History of Universe </a>
        </div> 
        
        <div class="collapse navbar-collapse" id="bs-exaemple-navbar-collapse-1">
            <ul  class="navbar-nav navbar-right">
               <li>
                    <div class="navbar-text"> <%= current_user_email %>
               </li>
               
               <li>
                    <form>
                        <a href="#" class="btn btn-success navbar-btn btn-sm" data-toggle="modal" data-target="#new-question-form"> Ask Question </a>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>
